<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Zubacz Uganda | Edit Users</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('dashboard') }}">TICKETS <span class="sr-only">(current)</span></a>
                </li>
                {% if currentUser[23] ==0:%}
                <li class="nav-item">
                    <a class="nav-link" href="/robot">CUSTOMERS</a>
                </li>
                {% else:%}
                <li class="nav-item">
                    <a class="nav-link" href="/all_clients">CUSTOMERS</a>
                </li>
                {% endif%}
                <li class="nav-item">
                    <a class="nav-link" href="/tasks">TASKS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reports">REPORT</a>
                </li>

                {% if currentUser[13] ==0:%}
                <li class="nav-item">
                    <a class="nav-link" href="robot">OPEN TICKETS</a>
                </li>
                {% else:%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('new_ticket') }}">OPEN TICKETS</a>
                </li>
                {% endif%}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link ml-3" href="#">Zubacz Uganda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#"><i class="fas fa-plus"></i></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle" style="font-size: 25px"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Side -->
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li class="mt-2 mb-2">
                    <a href="#"><i class="fas fa-building"></i> Entries</a>
                </li>
                <li class="active mt-2 mb-2" data-spy="scroll">
                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i class="fas fa-folder-open"></i> New</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu1">
                        {% if currentUser[9] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_users') }}">Add New User</a>
                        </li>
                        {%endif%} {% if currentUser[13] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_ticket') }}">Add New Ticket</a>
                        </li>
                        {%endif%} {% if currentUser[23] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_customer') }}">Add New Client</a>
                        </li>

                        {%endif%} {% if currentUser[24] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_engineer') }}">Add New Engineer</a>
                        </li>
                        {%endif%} {% if currentUser[25] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_equipment') }}">Add New Equipment</a>
                        </li>
                        {%endif%} {% if currentUser[26] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_workorder') }}">Add New Work Order</a>
                        </li>
                        {%endif%}
                    </ul>
                </li>
                <li class="mt-2 mb-2">
                    <a href="#"><i class="fas fa-wifi"></i> Ticket Feeds</a>
                </li>

                <li class="active mt-2 mb-2" data-spy="scroll">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i class="fas fa-folder-open"></i> Views</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        {% if currentUser[16] ==1:%}
                        <li>
                            <a href="/all_open_and_overdue_tickets">All Tickets</a>
                        </li>

                        <li>
                            <a href="/open_and_overdue_tickets">Open Tickets</a>
                        </li>
                        <li>
                            <a href="/closed_and_overdue_tickets">Closed Tickets</a>
                        </li>
                        <li>
                            <a href="/low_priority_and_overdue_tickets">Overdue Tickets</a>
                        </li>

                        <li>
                            <a href="/all_my_open_and_overdue_tickets">My Tickets</a>
                        </li>
                        <li>
                            <a href="/my_open_and_overdue_tickets">My Open Tickets</a>
                        </li>
                        <li>
                            <a href="/my_closed_and_overdue_tickets">My Closed Tickets</a>
                        </li>
                        <li>
                            <a href="/my_low_priority_and_overdue_tickets">My Overdue Tickets</a>
                        </li>

                        {% else:%} {% if currentUser[13] ==1:%}

                        <li>
                            <a href="/all_my_open_and_overdue_tickets">My Tickets</a>
                        </li>
                        <li>
                            <a href="/my_open_and_overdue_tickets">My Open Tickets</a>
                        </li>
                        <li>
                            <a href="/my_closed_and_overdue_tickets">My Closed Tickets</a>
                        </li>
                        <li>
                            <a href="/my_low_priority_and_overdue_tickets">My Overdue Tickets</a>
                        </li>{% else:%} {%endif%} {%endif%}

                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content" class="mt-5">

            <h4>Edit User
                <div class="btn-group pull-right">

                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <a class="pull-left">System Users</a>
                            </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{url_for('all_users')}}">All Users</a>
                        <a class="dropdown-item" href="{{url_for('all_admin_users')}}">Admin Users</a>
                        <a class="dropdown-item" href="{{url_for('all_ordinary_users')}}">Ordinary Users</a>
                    </div>
                </div>
            </h4>

            <hr>
            <h5>User's New Information</h5>


            {% include '_messages.html'%}

            <form class="mt-4" action="/edit_user/{{allTheUsers[0]}}" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4" id="trialImages">
                        <label class="text-info" for="firstname">First Name</label>
                        <input id="user_first_name_edit" type="text" value="{{allTheUsers[1]}}" name="user_first_name_edit" class="form-control" placeholder="First Name" required>
                        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                        <div class="invalid-feedback">
                            Name is invalid
                        </div>
                    </div>
                    <div class="form-group col-md-4" id="trialImages">
                        <label class="text-info" for="lastname">Last Name</label>
                        <input id="user_last_name_edit" type="text" value="{{allTheUsers[2]}}" name="user_last_name_edit" class="form-control" placeholder="Last Name" required>
                        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                        <div class="invalid-feedback">
                            Name is invalid
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4" id="trialImages">
                        <label class="text-info" for="email">Email Address</label>
                        <input id="user_email_edit" type="email" value="{{allTheUsers[4]}}" name="user_email_edit" class="form-control" id="inputAddress" placeholder="Email Address" required>
                        <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                        <div class="invalid-feedback">
                            Email is invalid
                        </div>
                    </div>
                    <div class="form-group col-md-4" id="trialImages">
                        <label class="text-info" for="address">Physical Address</label>
                        <input type="text" value="{{allTheUsers[8]}}" name="user_address_edit" class="form-control" id="inputAddress2" placeholder="Physical Address">
                        <i class="fa fa-home fa-lg fa-fw" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4" id="trialImages">
                        <label class="text-info" for="phoneNumber">Phone Number</label>
                        <input id="user_phone_edit" type="text" value="{{allTheUsers[6]}}" name="user_phone_edit" class="form-control" placeholder="Phone Number" required>
                        <i class="fa fa-phone fa-lg fa-fw" aria-huser_phone_editidden="true"></i>
                        <div class="invalid-feedback">
                            phone Number is invalid
                        </div>
                    </div>
                    <div class="form-group col-md-4" id="trialImages">
                        <label class="text-info" for="username">Username</label>
                        <input id="user_name_edit" type="text" value="{{allTheUsers[3]}}" name="user_name_edit" class="form-control" placeholder="Username" required>
                        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                        <div class="invalid-feedback">
                            Username is invalid
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4" id="trialImages">
                        <label class="text-info" for="inputCity">Password</label>
                        <input id="user_password_edit" type="password" name="user_password_edit" class="form-control" placeholder="Password" required>
                        <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
                        <div class="invalid-feedback">
                            Password is invalid
                        </div>
                    </div>
                    <div class="form-group col-md-4" id="trialImages">
                        <label class="text-info" for="inputZip">Confirm Password</label>
                        <input id="user_confirm_password_edit" type="password" name="user_confirm_password_edit" class="form-control" placeholder="Confirm Password" required>
                        <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
                        <div class="invalid-feedback">
                            Password is invalid
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4">
                        {% if allTheUsers[9] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_add_user_edit" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label text-info" for="customCheck1">Can Add User</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_add_user_edit" class="custom-control-input" id="customCheck1" checked>
                            <label class="custom-control-label text-info" for="customCheck1">Can Add User</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[10] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_delete_user_edit" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label text-info" for="customCheck2">Can Delete User</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_delete_user_edit" class="custom-control-input" id="customCheck2" checked>
                            <label class="custom-control-label text-info" for="customCheck2">Can Delete User</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[11] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_edit_user_edit" class="custom-control-input" id="customCheck3">
                            <label class="custom-control-label text-info" for="customCheck3">Can Edit User</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_edit_user_edit" class="custom-control-input" id="customCheck3" checked>
                            <label class="custom-control-label text-info" for="customCheck3">Can Edit User</label>
                        </div>
                        {% endif%}

                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-4">
                        {% if allTheUsers[12] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_edit_his_info_edit" class="custom-control-input" id="customCheck4">
                            <label class="custom-control-label text-info" for="customCheck4">Can Edit His/Her Info</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_edit_his_info_edit" class="custom-control-input" id="customCheck4" checked>
                            <label class="custom-control-label text-info" for="customCheck4">Can Edit His/Her Info</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[13] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_open_tickets_edit" class="custom-control-input" id="customCheck5">
                            <label class="custom-control-label text-info" for="customCheck5">Can Open Tickets</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_open_tickets_edit" class="custom-control-input" id="customCheck5" checked>
                            <label class="custom-control-label text-info" for="customCheck5">Can Open Tickets</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[14] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_edit_tickets_edit" class="custom-control-input" id="customCheck6">
                            <label class="custom-control-label text-info" for="customCheck6">Can Edit Tickets</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_edit_tickets_edit" class="custom-control-input" id="customCheck6" checked>
                            <label class="custom-control-label text-info" for="customCheck6">Can Edit Tickets</label>
                        </div>
                        {% endif%}

                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-4">
                        {% if allTheUsers[15] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_delete_tickets_edit" class="custom-control-input" id="customCheck7">
                            <label class="custom-control-label text-info" for="customCheck7">Can delete Ticket</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_delete_tickets_edit" class="custom-control-input" id="customCheck7" checked>
                            <label class="custom-control-label text-info" for="customCheck7">Can delete Ticket</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[16] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_all_tickets_edit" class="custom-control-input" id="customCheck8">
                            <label class="custom-control-label text-info" for="customCheck8">Can View All Tickets</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_all_tickets_edit" class="custom-control-input" id="customCheck8" checked>
                            <label class="custom-control-label text-info" for="customCheck8">Can View All Tickets</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[17] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_his_tickets_edit" class="custom-control-input" id="customCheck9">
                            <label class="custom-control-label text-info" for="customCheck9">Can View His/Her Tickets</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_his_tickets_edit" class="custom-control-input" id="customCheck9" checked>
                            <label class="custom-control-label text-info" for="customCheck9">Can View His/Her Tickets</label>
                        </div>
                        {% endif%}

                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-4">
                        {% if allTheUsers[18] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_edit_his_tickets_edit" class="custom-control-input" id="customCheck10">
                            <label class="custom-control-label text-info" for="customCheck10">Can Edit His/Her Tickets</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_edit_his_tickets_edit" class="custom-control-input" id="customCheck10" checked>
                            <label class="custom-control-label text-info" for="customCheck10">Can Edit His/Her Tickets</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[19] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_his_tasks_edit" class="custom-control-input" id="customCheck11">
                            <label class="custom-control-label text-info" for="customCheck11">Can View His/Her Tasks</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_his_tasks_edit" class="custom-control-input" id="customCheck11" checked>
                            <label class="custom-control-label text-info" for="customCheck11">Can View His/Her Tasks</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[20] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_all_tasks_edit" class="custom-control-input" id="customCheck12">
                            <label class="custom-control-label text-info" for="customCheck12">Can View All Tasks</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_all_tasks_edit" class="custom-control-input" id="customCheck12" checked>
                            <label class="custom-control-label text-info" for="customCheck12">Can View All Tasks</label>
                        </div>
                        {% endif%}

                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        {% if allTheUsers[22] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_his_reports_edit" class="custom-control-input" id="customCheck13">
                            <label class="custom-control-label text-info" for="customCheck13">Can View His/Her Reports</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_his_reports_edit" class="custom-control-input" id="customCheck13" checked>
                            <label class="custom-control-label text-info" for="customCheck13">Can View His/Her Reports</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[21] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_all_reports_edit" class="custom-control-input" id="customCheck14">
                            <label class="custom-control-label text-info" for="customCheck14">Can View All Reports</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_view_all_reports_edit" class="custom-control-input" id="customCheck14" checked>
                            <label class="custom-control-label text-info" for="customCheck14">Can View All Reports</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[23] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_add_delete_edit_clients_edit" class="custom-control-input" id="customCheck15">
                            <label class="custom-control-label text-info" for="customCheck15">Can Add,Delete,Edit Clients</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_add_delete_edit_clients_edit" class="custom-control-input" id="customCheck15" checked>
                            <label class="custom-control-label text-info" for="customCheck15">Can Add,Delete,Edit Clients</label>
                        </div>
                        {% endif%}

                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-4">
                        {% if allTheUsers[24] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_add_delete_edit_engineers_edit" class="custom-control-input" id="customCheck16">
                            <label class="custom-control-label text-info" for="customCheck16">Can Add,Delete,Edit Engineers</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_add_delete_edit_engineers_edit" class="custom-control-input" id="customCheck16" checked>
                            <label class="custom-control-label text-info" for="customCheck16">Can Add,Delete,Edit Engineers</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[25] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_add_delete_edit_equipment_edit" class="custom-control-input" id="customCheck17">
                            <label class="custom-control-label text-info" for="customCheck17">Can Add,Delete,Edit Equipment</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_add_delete_edit_equipment_edit" class="custom-control-input" id="customCheck17" checked>
                            <label class="custom-control-label text-info" for="customCheck17">Can Add,Delete,Edit Equipment</label>
                        </div>
                        {% endif%}

                    </div>
                    <div class="col-md-4">
                        {% if allTheUsers[26] == 0:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_add_delete_edit_workorder_edit" class="custom-control-input" id="customCheck18">
                            <label class="custom-control-label text-info" for="customCheck18">Can Add,Delete,Edit Work Order</label>
                        </div>
                        {% else:%}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_add_delete_edit_workorder_edit" class="custom-control-input" id="customCheck18" checked>
                            <label class="custom-control-label text-info" for="customCheck18">Can Add,Delete,Edit Work Order</label>
                        </div>
                        {% endif%}

                    </div>

                </div>

                <div class="form-row">
                    {% if allTheUsers[28] == 0:%}
                    <div class="col-md-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_receive_email_alerts" class="custom-control-input" id="can_receive_email_alerts">
                            <label class="custom-control-label text-info" for="can_receive_email_alerts">Can Receive Email Alerts</label>
                        </div>
                    </div>
                    {% else:%}
                    <div class="col-md-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="can_receive_email_alerts" class="custom-control-input" id="can_receive_email_alerts" checked>
                            <label class="custom-control-label text-info" for="can_receive_email_alerts">Can Receive Email Alerts</label>
                        </div>
                    </div>
                    {% endif%}
                </div>

                <div class="form-row mt-2">
                    <div class="form-group col-md-2">
                        <button type="submit" href="" class="btn btn-success btn-block">Save Changes</button>
                    </div>

                    <div class="form-group col-md-2">
                        <button type="submit" href="{{url_for('dashboard')}}" class="btn btn-secondary btn-block">Cancel</button>
                    </div>
                </div>
            </form>

            <hr>

        </div>
    </div>
    <script src="{{ url_for('static',filename='scripts/app.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/javascripts.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript">
        document.getElementById('user_first_name_edit').addEventListener('blur', user_first_name_edit);
        document.getElementById('user_last_name_edit').addEventListener('blur', user_last_name_edit);
        document.getElementById('user_email_edit').addEventListener('blur', user_email_edit);
        document.getElementById('user_phone_edit').addEventListener('blur', user_phone_edit);
        document.getElementById('user_name_edit').addEventListener('blur', user_name_edit);
        document.getElementById('user_password_edit').addEventListener('blur', user_password_edit);
        document.getElementById('user_confirm_password_edit').addEventListener('blur', user_confirm_password_edit);




        function user_first_name_edit() {
            const user_first_name_edit = document.getElementById('user_first_name_edit');
            const re_user_first_name_edit = /^[a-zA-Z\.]?[-. ]?[a-zA-Z]{2,16}$/;

            if (!re_user_first_name_edit.test(user_first_name_edit.value)) {
                return user_first_name_edit.classList.add('is-invalid');
            } else {
                return user_first_name_edits.classList.remove('is-invalid');
            }

        }

        function user_last_name_edit() {
            const user_last_name_edit = document.getElementById('user_last_name_edit');
            const re_user_last_name_edit = /^[a-zA-Z\.]?[-. ]?[a-zA-Z]{2,16}$/;

            if (!re_user_last_name_edit.test(user_last_name_edit.value)) {
                return user_last_name_edit.classList.add('is-invalid');
            } else {
                return user_last_name_edit.classList.remove('is-invalid');
            }

        }

        function user_email_edit() {
            const user_email_edit = document.getElementById('user_email_edit');
            const re_user_email_edit = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;

            if (!re_user_email_edit.test(user_email_edit.value)) {
                user_email_edit.classList.add('is-invalid');
            } else {
                user_email_edit.classList.remove('is-invalid');
            }

        }


        function user_phone_edit() {
            const user_phone_edit = document.getElementById('user_phone_edit');
            const re_user_phone_edit = /^\+?\d{3,4}[-. ]?\d{3}[-. ]?\d{3}[-. ]?(\d{3})?$/;

            if (!re_user_phone_edit.test(user_phone_edit.value)) {
                user_phone_edit.classList.add('is-invalid');
            } else {
                user_phone_edit.classList.remove('is-invalid');
            }
        }

        function user_name_edit() {
            const user_name_edit = document.getElementById('user_name_edit');
            const re_user_name_edit = /^[a-zA-Z\.\@]?[-. ]?[a-zA-Z]{2,16}$/;

            if (!re_user_name_edit.test(user_name_edit.value)) {
                return user_name_edit.classList.add('is-invalid');
            } else {
                return user_name_edit.classList.remove('is-invalid');
            }

        }

        function user_password_edit() {
            const user_password_edit = document.getElementById('user_password_edit');
            const re_user_password_edit = /^[a-zA-Z0-9]{2,16}(\+\.\@\-)?$/;

            if (!re_user_password_edit.test(user_password_edit.value)) {
                return user_password_edit.classList.add('is-invalid');
            } else {
                return user_password_edit.classList.remove('is-invalid');
            }

        }

        function user_confirm_password_edit() {
            const user_confirm_password_edit = document.getElementById('user_confirm_password_edit');
            const re_user_confirm_password_edit = /^[a-zA-Z0-9]{2,16}(\+\.\@\-)?$/;

            if (!re_user_confirm_password_edit.test(user_confirm_password_edit.value)) {
                return user_confirm_password_edit.classList.add('is-invalid');
            } else {
                return user_confirm_password_edit.classList.remove('is-invalid');
            }

        }
    </script>



</body>

</html>