<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Zoho Account | Users</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('dashboard') }}">TICKETS <span class="sr-only">(current)</span></a>
                </li>
                {% if currentUser[23] ==0:%}
                <li class="nav-item">
                    <a class="nav-link" href="/robot">CUSTOMERS</a>
                </li>
                {% else:%}
                <li class="nav-item">
                    <a class="nav-link" href="/all_clients">CUSTOMERS</a>
                </li>
                {% endif%}
                <li class="nav-item">
                    <a class="nav-link" href="/tasks">TASKS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reports">REPORT</a>
                </li>

                {% if currentUser[13] ==0:%}
                <li class="nav-item">
                    <a class="nav-link" href="robot">OPEN TICKETS</a>
                </li>
                {% else:%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('new_ticket') }}">OPEN TICKETS</a>
                </li>
                {% endif%}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link ml-3" href="#">Zubacz Uganda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#"><i class="fas fa-plus"></i></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle" style="font-size: 25px"></i></a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Side -->
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li class="mt-2 mb-2">
                    <a href="#"><i class="fas fa-building"></i> Entries</a>
                </li>
                <li class="active mt-2 mb-2" data-spy="scroll">
                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i class="fas fa-folder-open"></i> New</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu1">
                        {% if currentUser[9] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_users') }}">Add New User</a>
                        </li>
                        {%endif%} {% if currentUser[13] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_ticket') }}">Add New Ticket</a>
                        </li>
                        {%endif%} {% if currentUser[23] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_customer') }}">Add New Client</a>
                        </li>

                        {%endif%} {% if currentUser[24] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_engineer') }}">Add New Engineer</a>
                        </li>
                        {%endif%} {% if currentUser[25] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_equipment') }}">Add New Equipment</a>
                        </li>
                        {%endif%} {% if currentUser[26] ==0:%} {% else:%}
                        <li>
                            <a href="{{ url_for('new_workorder') }}">Add New Work Order</a>
                        </li>
                        {%endif%}
                    </ul>
                </li>
                <li class="mt-2 mb-2">
                    <a href="#"><i class="fas fa-wifi"></i> Ticket Feeds</a>
                </li>

                <li class="active mt-2 mb-2" data-spy="scroll">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i class="fas fa-folder-open"></i> Views</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        {% if currentUser[16] ==1:%}
                        <li>
                            <a href="/all_open_and_overdue_tickets">All Tickets</a>
                        </li>

                        <li>
                            <a href="/open_and_overdue_tickets">Open Tickets</a>
                        </li>
                        <li>
                            <a href="/closed_and_overdue_tickets">Closed Tickets</a>
                        </li>
                        <li>
                            <a href="/low_priority_and_overdue_tickets">Overdue Tickets</a>
                        </li>

                        <li>
                            <a href="/all_my_open_and_overdue_tickets">My Tickets</a>
                        </li>
                        <li>
                            <a href="/my_open_and_overdue_tickets">My Open Tickets</a>
                        </li>
                        <li>
                            <a href="/my_closed_and_overdue_tickets">My Closed Tickets</a>
                        </li>
                        <li>
                            <a href="/my_low_priority_and_overdue_tickets">My Overdue Tickets</a>
                        </li>

                        {% else:%} {% if currentUser[13] ==1:%}

                        <li>
                            <a href="/all_my_open_and_overdue_tickets">My Tickets</a>
                        </li>
                        <li>
                            <a href="/my_open_and_overdue_tickets">My Open Tickets</a>
                        </li>
                        <li>
                            <a href="/my_closed_and_overdue_tickets">My Closed Tickets</a>
                        </li>
                        <li>
                            <a href="/my_low_priority_and_overdue_tickets">My Overdue Tickets</a>
                        </li>{% else:%} {%endif%} {%endif%}
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content" class="mt-5">
            {% include '_messages.html'%}
            <h5><i class="fas fa-star"></i> All Users
                <div class="btn-group pull-right">

                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a class="pull-left">System Users</a>
                        </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{url_for('all_users')}}">All Users</a>
                        <a class="dropdown-item" href="{{url_for('all_admin_users')}}">Admin Users</a>
                        <a class="dropdown-item" href="{{url_for('all_ordinary_users')}}">Ordinary Users</a>
                    </div>
                </div>
            </h5>

            <hr> {% for eachUser in allTheUsers%}
            <div class="row">
                <div class="col-md-1">
                    <i class="fas fa-phone text-info" style="font-size: 20px"></i>
                </div>
                <div class="col-md-6">
                    <p style="font-size: 16px" class="text-info"><a href="#">{{eachUser[0]}} {{eachUser[1]}} {{eachUser[2]}} {{eachUser[3]}}</a></p>
                </div>
                <div class="col-md-2">
                    <a href="/edit_the_user/{{eachUser[5]}}"><i class="fas fa-edit text-info" style="font-size: 15px"></i></a> &nbsp &nbsp
                    <a href="#" onclick="localStorage.setItem('user_id',eachUser[5])" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash-alt text-danger" style="font-size: 15px"></i></a>
                    <!-- href="/all_the_users/{{eachUser[5]}}" -->
                </div>
                <div class="col-md-1 ">
                    <p class="text-info"> {{eachUser[4]}}</p>
                </div>
            </div>

            <hr> {% endfor %}


        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Warning Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <p class="lead">Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="/edit_the_user/localStorage.getItem('user_id')" class="btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>